---
title: "The Main Branch"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: '/'
eleventyNavigation:
    key: 'Main'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1621">
        <div class="cs-container">
            <div class="cs-content">
              
                <h1 class="cs-title">
                   Limousine
                </h1>
                <h1 class="cs-title2">
                    Travel Well
                 </h1>
                 <p class="cs-title3">
                   We make limousine  nice and easy
                 <p>
                <a href="" class="cs-button-solid">Call to Action</a>
                <!--Bottom Corners-->
              
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" src="assets/svgs/svgcar.svg" alt="SVG 1">
                    <h2 class="cs-h3">Airport Transfers</h2>
                    <p class="cs-item-text">
                        Both preprocessors, alongside vanilla CSS, all available under one kit
                    </p>
                </li>
                <li class="cs-item">
                    <img  class="cs-icon" src="assets/svgs/svgcar2.svg" alt="SVG 1">
                    <h2 class="cs-h3">Business Transfers</h2>
                    <p class="cs-item-text">
                        Get better Pagespeed scores, quicker, with automatic critical CSS inlining, minifiction and asset optimization
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="assets/svgs/svgcar3.svg" alt="SVG 1">
                    <h2 class="cs-h3">Events & Wedding</h2>
                    <p class="cs-item-text">
                        Create the fastest of eCommerce stores with a seamless Shopify integration
                    </p>
                </li>
               
            </ul>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <img src="/assets/images/hero.jpg" alt="Image hero">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbsr-1309">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/mer2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/mer2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/mer2.jpg" alt="car" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Luxury Cars</span>
                <h2 class="cs-title">for Maximum Satisfaction</h2>
                <p class="cs-text">Nullam sed ultricies erat, nec euismod metus. Morbi porttitor sapien vitae leo scelerisque. Nullam sed ultricies erat.

                </p>
              
                <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
            </div>
        </div>
    </section>


  <section id="gridsection1">
    <div class="grid-container">
        <div class="grid-item">
            <img src="/assets/images/car6.jpg" alt="Image 1">
            <h3 class="item-title">Mercedes</h3>
            <p class="item-description">Description</p>
            <div class="sub-grid">
                <div class="sub-grid-item">
                    <img src="assets/svgs/svg1.svg" alt="SVG 1" class="filter-color">
                    <p class="svg-title">Seats</p>
                </div>
                <div class="sub-grid-item">
                    <img src="assets/svgs/svg2.svg" alt="SVG 2" class="filter-color">
                    <p class="svg-title">Diesel</p>
                </div>
                <div class="sub-grid-item">
                    <img src="assets/svgs/svg3.svg" alt="SVG 3" class="filter-color">
                    <p class="svg-title">Auto</p>
                </div>
            </div>
            <button class="item-button">Learn More</button>
        </div>

   
        <div class="grid-item">
            <img src="/assets/images/car5.jpeg" alt="Image 2">
            <h3 class="item-title">More Mercedes</h3>
            <p class="item-description">Description</p>
          <div class="sub-grid">
        <div class="sub-grid-item">
            <img src="assets/svgs/svg1.svg" alt="SVG 1" class="filter-color">
            <p class="svg-title">Seats</p>
        </div>
        <div class="sub-grid-item">
            <img src="assets/svgs/svg2.svg" alt="SVG 2" class="filter-color">
            <p class="svg-title">Petrol</p>
        </div>
        <div class="sub-grid-item">
            <img src="assets/svgs/svg3.svg" alt="SVG 3" class="filter-color">
            <p class="svg-title">Auto</p>
        </div>
    </div>
            <button class="item-button">Learn More</button>
        </div>


        <div class="grid-item">
            <img src="/assets/images/car7.webp" alt="Image 3">
            <h3 class="item-title">Mercedes everywhere</h3>
            <p class="item-description">Description</p>
           <div class="sub-grid">
        <div class="sub-grid-item">
            <img src="assets/svgs/svg1.svg" alt="SVG 1" class="filter-color">
            <p class="svg-title">Seats</p>
        </div>
        <div class="sub-grid-item">
            <img src="assets/svgs/svg2.svg" alt="SVG 2" class="filter-color">
            <p class="svg-title">Petrol</p>
        </div>
        <div class="sub-grid-item">
            <img src="assets/svgs/svg3.svg" alt="SVG 3" class="filter-color">
            <p class="svg-title">Auto</p>
        </div>
    </div>
            <button class="item-button">Learn More</button>
        </div>
    </div>
    <section>



    <section id="image-section">
        <div class="titles-container">
            <h1 class="title1">We value the time and quality of travel for each of our clients</h1>
            <h1 class="title2">Incredible</h1>
            <h1 class="title3">comfort</h1>
        </div>
       
    </section>
    <section id="image2">
    <img src="assets/images/roll12.png" alt="Overlay Image" class="overlay-image">
    <section>


        <section id="black-background">
            <div class="content">
                <h2>We make sure that <span class="highlight">your every trip</span></br> is comfortable</h2>
                <div class="svg-grid">
    <div class="svg-item">
        <img src="assets/svgs/limo.svg" alt="Description of SVG 1" class="svg-icon">
        <div class="svg-title">Luxury Limousine Selection</div>
    </div>
    <div class="svg-item">
        <img src="assets/svgs/call.svg" alt="Description of SVG 2" class="svg-icon">
        <div class="svg-title">27/7 Order Available</div>
    </div>
    <div class="svg-item">
        <img src="assets/svgs/delivery.svg" alt="Description of SVG 3" class="svg-icon">
        <div class="svg-title">Fast Car Delivery Service</div>
    </div>
    <div class="svg-item">
        <img src="assets/svgs/seat.svg" alt="Description of SVG 4" class="svg-icon">
        <div class="svg-title">High Safety and Nurity</div>
    </div>
    <div class="svg-item">
        <img src="assets/svgs/tag.svg" alt="Description of SVG 5" class="svg-icon">
        <div class="svg-title">Fixed Price & Bonus System</div>
    </div>
    <div class="svg-item">
        <img src="assets/svgs/driver.svg" alt="Description of SVG 6" class="svg-icon">
        <div class="svg-title">Professional Car Drivers</div>
    </div>
</div>
            </div>
        </section>
        <section id="background-seat">
            <img src="assets/images/seats2.avif" alt="Overlay Image2" class="overlay-image">
        </section>





       


    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

    <section id="steps-1172">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Just a few steps before</span>
                <h2 class="cs-title">How To Get Started</h2>
                <p class="cs-text">
                    As this kit relies on merging different branches to get started, we'll need to do a few things first to ensure this happens smoothly and nothing gets missed.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-git.svg" alt="icon" width="48" height="48">
                    </picture>
                    <h2 class="cs-h3">1. Merge Branches</h2>
                    <p class="cs-item-text">
                        Merge the branches you need for the project via the CLI, using "git merge [BRANCH] --allow-unrelated-histories". Resolve any conflicts.
                    </p>
                </li>

                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-install.svg" alt="icon" width="48" height="48">
                    </picture>
                    <h2 class="cs-h3">2. Install Dependencies</h2>
                    <p class="cs-item-text">
                        Run "npm install" to install all the packages and plugins needed to make your super awesome website.
                    </p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-todo.svg" alt="icon" width="48" height="48">
                    </picture>
                    <h2 class="cs-h3">3. Check Off Todos</h2>
                    <p class="cs-item-text">
                        Search the project for any instance of "CS-TODO". We've marked any actions that need to be taken to get your project up to speed ASAP.
                    </p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-code.svg" alt="icon" width="48" height="48">
                    </picture>
                    <h2 class="cs-h3">4. Get Developing!</h2>
                    <p class="cs-item-text">If using the sass/less branch, you can move over the starter styles to get a headstart. Otherwise, clear all page data and styles, and begin!</p>
                </li>
            </ul>
        </div>
        <!--Tire Screech-->
    </section>

    <!-- ============================================ -->
    <!--                Why Choose Us                 -->
    <!-- ============================================ -->


     <section id="sbsr-13091">
            <div class="cs-container">
                <!-- Left Image Section -->
                <div class="cs-image-group">
                    <!-- Form Section -->
                    <h2 class="cs-title">Use our <span class="highlight">quick booking form</span></br>to get a limousine</h2>
             
                <p class="cs-text">Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices, orci vitae convallis mattis, quam nulla vehicula felis, eu cursus sem tellus.

                </p>

                <p class="contact">Call for book an order:</p>
                <div class="svg-wrapper">
                    
                    <img src="/assets/svgs/whatsapp.svg" alt="SVG Icon" class="svg-icon">
                    <span class="description">XXX-XXXX-XXXX</span>
                    
                </div>
                <a class="cs-button-solid" aria-label="Garage" href="">See our Garage</a>
              
               
                </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <div class="form-container">
                    <div class="form-group">
                        <input type="text" id="location" name="location" 
                            placeholder="Location"
                            style="color: #000; font-size: 20px; font-weight: 500; 
                            padding-right: 70px; 
                            background: url('/assets/svgs/location.svg') no-repeat right 10px center; 
                            background-size: 20px 20px; 
                            box-sizing: padding-box;
                            background-color: #ffffff;">
                    </div>
                    <div class="form-group">
                        <input type="date" id="order-date"  
                            style="font-size: 20px; padding-right: 10px; 
                            background: url('/assets/svgs/calendar.svg') no-repeat right 10px center; 
                            background-size: 20px 20px; 
                            box-sizing: padding-box;
                            background-color: #ffffff;"
                            placeholder="Order Date">
                    </div>
                    <div class="form-group">
                        <input type="time" id="order-time"  
                            style="padding-right: 10px;
                            font-size: 20px; 
                            
                            background-size: 20px 20px; 
                            box-sizing: padding-box;
                            background-color: #ffffff;"
                            placeholder="Order Time">
                    </div>
                    <div class="form-group">
                        <select id="class" name="class" 
                            style="color: #000; font-size: 20px; font-weight: 500; 
                            padding-right: 50px; 
                            background: url('/assets/svgs/car.svg') no-repeat right 15px center; 
                            background-size: 20px 20px; 
                            box-sizing: padding-box;
                            background-color: #ffffff;">
                            <option value="limo">Limo</option>
                            <option value="standard">Standard</option>
                            <option value="vip">VIP</option>
                            <option value="luxury">Luxury</option>
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" id="passengers" name="passengers" min="1" max="6"  
                            placeholder="Total Passengers"
                            style="color: #000; font-size: 20px; font-weight: 500; 
                            padding-right: 50px; 
                            background: url('/assets/svgs/people.svg') no-repeat right 15px center; 
                            background-size: 20px 20px; 
                            box-sizing: padding-box;
                            background-color: #ffffff;">
                    </div>
                    <button type="submit" class="submit-btn">Submit</button>
                </div>
            </div>
        </div>
    </section>

    <section id="why-choose-1657">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">CSS, LESS and SASS</span>
                    <h2 class="cs-title">Your favourite CSS syntaxes - all under one roof</h2>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-number">CSS</span>
                        <p class="cs-li-text">
                            If you prefer vanilla CSS, everything has already been set up for you. You shouldn't need to merge in the SASS and LESS branches, and the ./starter-styles folder can be deleted.
                        </p>
                    </li>
                    <li class="cs-li">
                        <span class="cs-number">LESS</span>
                        <p class="cs-li-text">
                            If you want to use the LESS preprocessor, make sure the "less" branch has been merged to include the LESS processor. When all branches have been merged, you can find the kit styles in ./starter-styles. Copy these over to /assets/less, or delete them to start from scratch.
                        </p>
                    </li>
                    <li class="cs-li">
                        <span class="cs-number">SASS</span>
                        <p class="cs-li-text">
                            Same as before - merge in the "sass" branch to include the SASS processor. Delete the ./starter-styles folder or copy over the SASS styles into /assets/sass to get a headstart on the project
                        </p>
                    </li>
                </ul>
            </div>
            <div class="cs-wrapper">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg" alt="meeting" width="630" height="414">
                </picture>

                <p class="cs-review">
                    <svg class="cs-quote" preserveAspectRatio="none" viewBox="0 0 100 93" fill="none" xmlns="http://www.w3.org/2000/svg" preser>
                        <g opacity=".4" clip-path="url(#a)" fill="var(--quoteColor)"><path d="M22.94 84H0L18.305.854H55L22.94 84ZM67.94 84H45L63.305.854H100L67.94 84Z"/></g>
                        <defs>
                            <clipPath id="a-1657"><path fill="#fff" transform="translate(0 .854)" d="M0 0h100v83.146H0z"/></clipPath>
                        </defs>
                    </svg>
                    To minimise the number of merge conflicts, vanilla CSS for these introductory pages are supplied in /assets. Should you wish to carry over the starting kit styles, LESS and SASS versions are supplied outside of ./src
                </p>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

   

{% endblock %}